<div class="Navbar">
    <div class="Navbar__Logo">
        <img src="/assets/logolaborcamp.svg" alt="">
    </div>
    <div class="Navbar__link">
        <img src="/assets/Frame.png">
        <a href="#">Explorar</a>
        <a href="#">Recursos</a>
        <a href="#">Rutas</a>
        <a href="#">Comunidad</a>
        <a href="#">Encuesta</a>
        <a href="#">Donar</a>
    </div>
    <div class="Navbar__avatar">
        <h4>User@laborcamp.com</h4>
        <img src="/assets/avatarbear.png" alt="">
    </div>
</div>