<div class="home">

  <div class="header">
    <div class="header__profile">
      <img src="/assets/avatar.png" alt="avatar">
      <h4>👋 Hola!, user.displayName || user.email</h4>
    </div>
    <div class="header__button">
      <button class="Primary__Button">Cerrar sesion</button>
    </div>
  </div>

  <div class="home__menu">
    <h2>Seleccione su Prueba</h2>
    
    <button class="Button__manager">Gerencia</button>
    <button class="Button__employees">Empleados</button>
    <button class="Button__general__employees">Empleados generales</button>
  </div>

  <app-footer></app-footer>
</div>